// .prova {
//     border: 1px solid black;
//     border-radius: 8px;
//     box-shadow: 2px 2px;
// }

.pressed {
    animation: animate-press 150ms linear;
}

@keyframes animate-press {
    0% {
        transform: translate (0, 0);
        box-shadow: 2px 2px;
    }
    50% {
        transform: translate(2px, 2px);
        box-shadow: 0 0;
    }
    100% {
        transform: translate (0, 0);
        box-shadow: 2px 2px;
    }
}

.from-left {
    animation: animate-from-left 700ms linear;
}

@keyframes animate-from-left {
    0% {
        opacity: 0;
        transform: translateX(-500px) scale(0.7)
    }
    50% {
        opacity: 0.3;
        transform: translateX(0) scale(1)
    }
    100% {
        opacity: 1;
    }
}

.from-right {
    animation: animate-from-right calc(700ms * var(--time)) linear;
}

@keyframes animate-from-right {
    0% {
        opacity: 0;
        transform: translateX(500px) scale(0.7)
    }
    50% {
        opacity: 0.3;
        transform: translateX(0) scale(1)
    }
    100% {
        opacity: 1;
    }
}

.custom-min-h {
    min-height: calc(100vh - var(--topbar_height));
}

.wrapper {
    width: 100vw;
    height: calc(100vh - var(--topbar_height));
    overflow: hidden;
}

.bg-img-whatsapp {

    @media screen and (min-width: 768px) {
        background-image: url('/assets/images/whatsapp-bg.jpg');
        background-repeat: repeat;
        background-size: cover;
        border: 1px solid transparent;
        border-radius: 30px;
        margin: 1.4rem 4.6rem;
        opacity: 0.2;
    }
}